attrs==24.2.0
blinker==1.9.0
brotlipy==0.7.0
cffi==1.17.1
click==8.1.7
decorator==5.1.1
flasgger==0.9.7.1
Flask==2.2.5
gevent==24.11.1
greenlet==3.1.1
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
MarkupSafe==3.0.2
mistune==3.0.2
packaging==24.2
pycparser==2.22
PyYAML==6.0.2
raven==6.10.0
referencing==0.35.1
rpds-py==0.22.3
setuptools==75.6.0
six==1.17.0
Werkzeug==2.2.3
zope.event==5.0
zope.interface==7.2
